.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 11vw;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-height: 45vh;
  overflow-y: auto;
  margin-top: 6.5vh;
  font-size: 1.7vh;
  /* scrollbar-width: thin; */
  /* scrollbar-color: #656468 #e8e8e8; */
}

.dropdown-menu::-webkit-scrollbar {
  width: 0.35vh;
}
.dropdown-menu::-webkit-scrollbar-track {
  background: #e8e8e8;
}
.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #656468;
  border-radius: 20px;
}

.field-selector {
  margin-right: 0.8vw;
  display: flex;
  align-items: flex-start;
  /* margin-top: 5.6vh; */
}
.field-selector label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6vw;
}

.field-selector input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: min(1.8vw, 1.8vh);
  height: min(1.7vw, 1.7vh);
  border: 0.2vh solid #7927E0;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
}

.field-selector input[type="checkbox"]:checked {
  background-color: #7927E0;
}

.field-selector input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  background-color: #7927E0;
  top: 0.1vh;
  left: 0.25vw;
  width: 0.23vw;
  height: 0.9vh;
  border: solid #ffffff;
  border-width: 0 0.2vh 0.1vw 0;
  transform: rotate(45deg);
}
.field-selector button {
  width: 8.2vw;
  height: 4.3vh;
  border-radius: 1.5vh;
  padding: 0.4vh 0.1vw;
  background-color: #F0E5FF;
  color: #656468;
  font-size: 0.8vw;
  text-align: center;
}
.field-selector img {
  margin-left: 0.7vw;
  width: 0.9vw;
  position: relative;
  top: 0.45vh;
}
