.profile-header {
    display: flex;
    align-items: center;
    margin-top: 5vh;
}

.profile-title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 3vh;
    width: 30vw;
    text-align: start;
    color: black;
}

.save-button {
    margin-left: 34.5vw;
}

@media screen and (max-width: 480px) {
    .save-button {
        margin-left: 30%;
    }
}