.kanban-board {
    display: flex;
    align-items: center;
    gap: 6vh;
  }
  
  .kanban-column {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 2vh 1vh 2vh 1vh;
    border-radius: 1.5vh;
    position: relative;
    width: 33vh;
    min-height: 40vh;
  }
  
  .task-list {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    overflow-y: auto;
  }
  