.password-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.password-modal-content {
    background: white;
    border-radius: 20px;
    width: 24.7vw;
    height: 49vh;
    position: relative;
    font-family: "Raleway" sans-serif;
    box-shadow: 0 15px 67px rgba(0, 0, 0, 0.2);
}

.password-modal-container {
    margin: 12vh 3.5vw;
}
  
.password-modal-content h2 {
    font-size: 3.1vh;
    font-weight: 700;
    color: black;
    line-height: 3.5vh;
    text-align: center;
    margin-bottom: 4.3vh;
}

.password-input-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: calc(100% - 2vw);
    padding: 0 1vw;
    background-color: #e8e8e8 !important;
    border-radius: 10px;
    color: #656468;
    font-family: 'Arial', sans-serif;
    font-size: 1.6vh;
    font-weight: 400;
    height: 6.4vh;
    border: none;
    margin: 0 auto;
    -webkit-appearance: none; /* для Safari и Chrome */
    -moz-appearance: none; /* для Firefox */
    appearance: none; /* для других браузеров */
}
.password-input::-ms-reveal, /* для Edge */
.passwprd-input::-ms-clear {
    display: none;
}

.toggle-password-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 14.5vw;
    transform: translateY(-50%);
    width: 1vw;
    height: auto;
    cursor: pointer;
}

.password-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  
.modal-buttons {
    justify-content: center;
    align-items: center;
}
  
.forgot-password-button {
    background: none;
    border: none;
    color: #656468;
    font-size: 2.1vh;
    font-weight: 500;
    line-height: 1.8vh;
    cursor: pointer;
    text-decoration: none;
    margin: 1.7vh 1vw;
}

.forgot-password-button:hover {
    color: #f34f4e;
    text-decoration: underline;
}

.forgot-password-button:active {
    color: #dd4746;
    text-decoration: underline;
}
  
.password-button {
    width: calc(100% - 2vw);
    padding: 2.2vh 1vw;
    text-align: center;
    /* background-color: #8BC8EB; */
    color: white;
    font-size: 2.1vh;
    font-weight: 600;
    line-height: 1.7vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal2 {
    margin-bottom: 1.7vh;
}

.next-button {
    background-color: #8BC8EB;
}

.confirm-button {
    background-color: #8BEBA0;
}

.next-button:hover {
    background-color: #93D6FB;
}

.next-button:active {
    background-color: #7CD0FF;
}

/* .password-next-button confirm {
    background-color: #8BEBA0;
    transition: background-color 0.3s;
} */

.confirm-button:hover {
    background-color: #84F59D;
}

.confirm-button:active {
    background-color: #7BFF98;
}
  
.password-close-button {
    position: absolute;
    top: 2.5vh;
    right: 1vw;
    background: none;
    border: none;
    cursor: pointer;
    width: 1.1vw;
    height: 2.2vh;
    background: url('../../images/icons/icon_close_modal.svg') no-repeat center center;
    background-size: contain;
    transition: 0.3s;
}

.password-close-button:hover {
    background: url('../../images/icons/icon_close_modal_hover.svg') no-repeat center center;
    background-size: contain;
}

.password-close-button:active {
    background: url('../../images/icons/icon_close_modal_active.svg') no-repeat center center;
    background-size: contain;
}

@media screen and (max-width:480px) {
    .password-modal-content {
        width: auto;
    }

    .password-close-button {
        width: 5vh;
    }
}