.save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    padding: 0.8vh 0.9vw;
    background-color: #B982FE;
    color: #ffffff;
    width: 9.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 3.3vh;
    margin: 0;
}

.save-button img {
    margin-right: 0.8vw;
    width: 2.8vh;
    height: auto;
    filter: brightness(0) invert(1);
}

.save-button:hover {
    background-color: #AC6CFE;
}

.save-button:active {
    background-color: #9246F3;
}

@media screen and (max-width: 480px) {
    .save-button {
        width: 130%;
    }
}