.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    background-color: #ffffff;
    padding: 1vh 4%;
    z-index: 1000;
    border-bottom: 0.2vh solid #e0e0e0;
    height: 10%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.header img {
    height: 40%;
}

.icon_burger {
    display: none;
}

@media screen and (max-width: 480px) {
    .header {
        width: 92%;
        height: 5%;
        justify-content: space-between;
    }

    .header img {
        height: 40%;
    }

    .icon_burger {
        display: flex;
    }
}