.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20vw;
  height: 17vh;
  display: flex;
  align-items: center;
  margin-left: 2.2vw;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
  
.footer ul {
  list-style-type: none;
  flex-direction: column;
  padding-inline-start: 0;
}

.footer ul li {
  align-items: center;
  margin-bottom: 1vh;
}

.icon {
  width: auto;
  height: 3vh;
  margin-right: 0.7vw;
  transition: all 0.3s ease;
  fill: #656468;
}

.link {
  text-decoration: none;
  color: #656468;
  font-size: 2.3vh;
  font-weight: 400;
  text-align: left;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 0.7vh 0.6vw;
  display: flex;
  align-items: center;
}

.link:hover {
  color: #7927E0;
  cursor: pointer;
  background-color: #E8E8E8;
}

.link:active {
  color: #7927E0;
}

.link:hover .icon {
  filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(3445%) hue-rotate(255deg) brightness(100%) contrast(90%);
}

.link:active .icon,
.link:focus .icon {
  filter: brightness(0) saturate(100%) invert(28%) sepia(64%) saturate(3445%) hue-rotate(255deg) brightness(100%) contrast(90%);
}

@media screen and (max-width: 480px) {
.footer {
  display: none;
}

 /* .footer ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2vh;
  gap: 5vh;
 } */
}